.button {
  border: none;
  outline: none;
  background: transparent;
  @extend %transition;
  &:focus,
  &:hover {
    outline: none;
  }
}

.button_oval-colored {
  color: $color-text-dark;
  padding: 0 40px;
  background: $color-bg-oval-button;
  font-size: 1.8rem;
  height: 64px;
  border-radius: 32px;
  @include media-desktop-900 {
    font-size: 1.4rem;
  }
  @include media-mobile-576 {
    height: 54px;
    padding: 0 35px;
  }

  &:hover {
    box-shadow: $shadow-button;
  }
}

.nav-tabs .nav-link.button_our-cases-slide {
  @extend %transition;
  font-size: 1.8rem;
  width: 300px;
  height: 66px;
  border-radius: 33px;
  background: transparent;
  text-align: center;
  padding-top: 16px;
  color: $color-text-dark;
  @include media-desktop-1200 {
    width: 220px;
    height: 66px;
  }
  @include media-desktop-900 {
    height: 48px;
    font-size: 1.4rem;
    padding-top: 13px;
    width: 100%;
  }
  // @include media-mobile-576 {
  //   display: none;
  // }

  &:hover {
    color: $color-text-section-title-colored;
  }
  
  &.active {
    box-shadow: $shadow-slider-button;
    background: $color-light;
  }
}

.swiper-button {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  box-shadow: $shadow-slider-button;
  font-weight: bold;
  text-align: center;
  line-height: 5.5rem;

  &::after {
    font-size: 20px !important;
    color: $color-text-dark;
  }

  &_light {
    background: $color-light;
  }
  &_colored {
    background: $color-text-section-title-colored;
  }
}


%nav-mabile-buttons {
  content: '';
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 50%;
}

.button_menu-return {
  &::after {
    @extend %nav-mabile-buttons;
    background-image: url('../assets/png/icon_back.png');
  }
}

.button_menu-close {
  &::after {
    @extend %nav-mabile-buttons;
    background-image: url('../assets/png/icon_cross.png');
  }
}