.button {
  border: none;
  outline: none;
  background: transparent;
  @extend %transition;
}

.button_oval-colored {
  color: $color-text-dark;
  padding: 0 40px;
  background: $color-bg-oval-button;
  font-size: 1.8rem;
  height: 64px;
  border-radius: 32px;

  &:hover {
    box-shadow: $shadow-button;
  }
}

.nav-tabs .nav-link.button_our-cases-slide {
  @extend %transition;
  font-size: 1.8rem;
  width: 300px;
  height: 66px;
  border-radius: 33px;
  background: transparent;
  text-align: center;
  padding-top: 16px;
  color: $color-text-dark;

  &:hover {
    color: $color-text-section-title-colored;
  }
  
  &.active {
    box-shadow: $shadow-slider-button;
    background: $color-light;
  }
}

.swiper-button {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  box-shadow: $shadow-slider-button;
  font-weight: bold;

  &::after {
    font-size: 20px !important;
    color: $color-text-dark;
  }

  &_light {
    background: $color-light;
  }
  &_colored {
    background: $color-text-section-title-colored;
  }
}