.client-logo {
  @extend %transition;
  filter: grayscale(1);

  &:hover {
    filter: none;
  }

  &:focus {
    outline: none;
  }

  .client-logo__img {
    @include media-mobile-576 {
      transform: scale(0.8);
    }
  }
}