.company-contacts {
  .company-contacts__show {
    a,
    span,
    .fa {
      font-size: inherit;
      @extend %transition;
      text-decoration: none;
      color: $color-text-light;
      cursor: pointer;
      &:hover {
        color: $color-text-additionary;
        .fa {
          color: $color-text-additionary;
        }
      }
    }

    a {
      display: none;
    }

    &.active {
      a {
        display: block;
      }
  
      span {
        display: none;
      }
    }
  }
}
