.contacts {
  .contacts-wrapper {
    @include media-desktop-1900 {
      max-width: 530px;
    }
  }
  .fa {
    color: $color-contacts-ico;
    font-size: 2rem;
    line-height: 3rem;
    @include media-desktop-1900 {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  a {
    @include font-numbers($size: 2rem);
    text-decoration: none;
  }

  .contacts__tel {
    font-size: 2rem;
    @include media-desktop-1900 {
      font-size: 1.6rem;
    }

    i {
      padding-right: 6px;
    }
  }

  .contacts__email {
    font-size: 2rem;
    @include media-desktop-1900 {
      width: 222px;
      font-size: 1.6rem;
    }

    i {
      padding-right: 10px;
    }
  }
}