.graphic-tab {
  @include media-desktop-1900 {
    padding-top: 170px;
  }
  @include media-desktop-900 {
    padding-top: 115px;
  }

  .graphic-tab__img {
    @include media-desktop-1900 {
    width: 100%;
    }
  }
}

.graphic-tab-card {
  width: 250px;
  height: 115px;
  padding: 12px;
  border: solid 2px $color-bg-buttons-our-cases;
  font-size: 1.4rem;
  @include media-desktop-1200 {
    width: 170px;
    height: 100px;
  }
  @include media-desktop-900 {
    width: 140px;
    height: 65px;
    font-size: 0.8rem;
  }

  .graphic-tab-card__ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    color: $color-light;
    @include media-desktop-1200 {
      font-size:1.6rem;
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
    @include media-desktop-900 {
      font-size:1.4rem;
      width: 26px;
      height: 26px;
      line-height: 26px;
    }
  }

  .graphic-tab-card__title {
    font-weight: 700;
    font-size: 2.4rem;
    @include media-desktop-1200 {
      font-size: 2rem;
    }
    @include media-desktop-900 {
      font-size: 1.4rem;
    }
  }

  .graphic-tab-card__number {
    font-weight: 700;
    font-size: 2rem;
    @include media-desktop-900 {
      font-size: 1.2rem;
    }
  }
}

.graphic-tab-card_visitors {
  .graphic-tab-card__ico {
    background: $color-text-section-title-colored;
  }
  .graphic-tab-card__title {
    color: $color-text-section-title-colored;
  }
}

.graphic-tab-card_request {
  .graphic-tab-card__ico {
    background: $color-request-tab;
  }
  .graphic-tab-card__title {
    color: $color-request-tab;
  }
}

.graphic-tab-card_sales {
  .graphic-tab-card__ico {
    background: $color-sales-tab;
  }
  .graphic-tab-card__title {
    color: $color-sales-tab;
  }
}