.logo {
  position: relative;
  height: 83px;
  width: 359px;
  background-image: url('../assets/png/logo-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

  .logo__link {
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
  }
}