.mention-slide {
  @include flex($justify: space-between, $align: start, $flow: column nowrap);
  height: 550px;
  color: $color-light;
  font-size: 1.4rem;
  @include media-desktop-900 {
    gap: 18px;
  }
}

.mention-slide__client {
  @include flex($justify: start, $flow: row nowrap);
  gap: 15px;
  padding-left: 4px;

  .mention-slide__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: $color-bg-avatar;
    border: 3px solid $color-2-bg-sections;
  }

  .mention-slide__info {
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: 200px;
    font-weight: 700;
    @include media-desktop-900 {
      width: auto;
    }
    @include media-mobile-576 {
      max-width: 190px;
    }

    .mention-slide__name {
      color: $color-text-section-title-colored;
      margin-bottom: 15px;
    }

    .mention-slide__position {
      margin: 0;
      line-height: 1.6rem;
    }
  }
}

.mention-slide__comment {
  height: 160px;
  background-image: url('../assets/png/bg-comment.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 30px;
  @include media-desktop-1900 {
    background-size: cover;
    border-radius: 14px;
  }
  @include media-desktop-900 {
    height: 123px;
    font-size: 1.4rem;
    background-image: url('../assets/png/bg-comment-tablet.png');
    background-size: contain;
    line-height: 1.4rem;
  }
  @include media-tablet-700 {
    background-size: cover;
  }
  @include media-mobile-576 {
    min-height: 139px;
    height: auto;
    padding: 35px 20px 20px 20px;
  }
}

.mention-slide__video {
  width: 100%;
  min-height: 260px;
  background: $color-bg-avatar;
  @include media-desktop-900 {
    min-height: 346px;
  }
  @include media-mobile-576 {
    width: 100%;
    height: 300px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}