.numbers-tab-table {
  font-weight: 700;
  @include media-desktop-900 {
    font-size: 1.2rem;
  }

  thead {
    text-align: center;
  
    td {
      height: 60px;
      vertical-align: middle;
      color: #BABABA;
      @include media-desktop-900 {
        height: 28px;
      }
    }
  }

  tbody {
    tr {
      height: 60px;
      @include media-desktop-900 {
        height: 39px;
      }
  
      td {
        width: 33%;
        vertical-align: middle;
        padding-left: 5%;
  
        span {
          font-weight: 400;
          color: #BABABA;
        }
      }
    }
  }

  .numbers-tab-table__ico {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-size: 2rem;
    @include media-desktop-900 {
      font-size: 1.2rem;
    }

    &_visitors {
      color: $color-text-section-title-colored;
    }
    &_request {
      color: $color-request-tab;
    }
    &_sales {
      color: $color-sales-tab;
    }
  }

  .fa-caret-up {
    color: $color-result;
  }
}