.our-cases-slide {
  position: relative;
  background: $color-light;
  border: 3px solid $color-text-section-title-colored;
  padding: 40px 30px;
  width: 97% !important;
  height: 705px;
  margin-left: 25px;
  @include media-desktop-1900 {
    width: 96% !important;
  }
  @include media-desktop-1200 {
    width: 95% !important;
  }
  @include media-desktop-900 {
    margin-left: 16px;
    width: 97% !important;
    height: 477px !important;
  }

  .our-cases-slide__modal-btn {
    margin-top: 20px;
    @include media-desktop-900 {
      margin-top: 10px;
    }
  }

  .our-cases-slide__img {
    @include media-desktop-1900 {
      height: 400px;
      width: auto;
      margin-top: 180px;
    }
    @include media-desktop-1440 {
      height: 300px;
    }
    @include media-desktop-1200 {
      height: 240px;
    }
    @include media-desktop-900 {
      height: 180px;
      width: 208px;
      margin-top: 130px;
    }
  }
}

.our-cases-slide__title {
  @include font-primary($size: 3.6rem, $weight: 700, $color: $color-text-dark);
  margin-bottom: 45px;
  @include media-desktop-1900 {
    position: absolute;
    width: 1000px;
    left: calc(50% - (1000px / 2));
  }
  @include media-desktop-1200 {
    width: 800px;
    left: calc(50% - (800px / 2));
    text-align: center;
    font-size: 3rem;
  }
  @include media-desktop-900 {
    width: 600px;
    left: calc(50% - (600px / 2));
    font-size: 2.4rem;
    top: 20px;
  }
}

.our-cases-slide__button-wrapper {
  max-width: 978px;
  height: 78px;
  background: $color-bg-buttons-our-cases;
  border-radius: 39px;
  @include media-desktop-1900 {
    position: absolute;
    width: 1000px;
    left: calc(50% - (1000px / 2));
    top: 120px;
  }
  @include media-desktop-1200 {
    width: 700px;
    left: calc(50% - (700px / 2));
  }
  @include media-desktop-900 {
    height: 56px;
    top: 88px;
  }
}

.our-cases-slide__info {
  padding-top: 20px;
  @include media-desktop-1200 {
    padding-top: 0px;
  }
  
  .our-cases-slide__info-img {
    @include media-desktop-1900 {
      position: relative;
      top: 200px;
      width: 300px;
      height: 200px;
    }
    @include media-desktop-1440 {
      width: 250px;
      height: 180px;
    }
    @include media-desktop-1200 {
      width: 230px;
      height: 160px;
      left: 35px;
    }
    @include media-desktop-900 {
      width: 180px;
      height: 120px;
      top: 135px;
      left: 0px;
    }
  }

  .our-cases-slide__info-text {
    @include media-desktop-1900 {
      margin-left: 310px;
    }
    @include media-desktop-1440 {
      margin-left: 230px;
    }
    @include media-desktop-1200 {
      margin: 30px 0 0 215px;
    }
    @include media-desktop-900 {
      margin: 10px 0 0 175px;
    }
  }
}
