.our-cases-slide {
  position: relative;
  background: $color-light;
  border: 3px solid $color-text-section-title-colored;
  padding: 40px 30px;
  width: 96% !important;
  height: 705px;
  margin-left: 25px;

  .our-cases-slide__modal-btn {
    margin-top: 20px;
  }

  .our-cases-slide__img {
    @include media-desktop-1900 {
      height: 400px;
      width: auto;
      margin-top: 180px;
    }
    @include media-desktop-1440 {
      height: 300px;
    }

  }
}

.our-cases-slide__title {
  @include font-primary($size: 3.6rem, $weight: 700, $color: $color-text-dark);
  margin-bottom: 45px;
  @include media-desktop-1900 {
    position: absolute;
    width: 1000px;
    left: calc(50% - (1000px / 2));
  }
}

.our-cases-slide__button-wrapper {
  max-width: 978px;
  height: 78px;
  background: $color-bg-buttons-our-cases;
  border-radius: 39px;
  @include media-desktop-1900 {
    position: absolute;
    width: 1000px;
    left: calc(50% - (1000px / 2));
    top: 120px;
  }
}

.our-cases-slide__info {
  padding-top: 20px;

  @include media-desktop-1900 {
    & > div {
      &:first-of-type {
        margin-left: 310px;
      }
    }
  
    .our-cases-slide__info-img {
      position: relative;
      top: 200px;
      width: 300px;
      height: 200px;
      @include media-desktop-1440 {
        width: 250px;
        height: 180px;
      }
    }
  }
  @include media-desktop-1440 {
    & > div {
      &:first-of-type {
        margin-left: 230px;
      }
    }
  }
}