.promo__wrapper {
  height: 870px;
  @include media-desktop-1200 {
    height: 666px;
  }

  .promo__col {
    position: relative;
    &_1 {
      z-index: 2;
    }
    &_2 {
      z-index: 1;
    }
  }
}

.promo__title {
  margin-top: 225px;
  line-height: 13rem;
  @include font-primary($size: 10rem, $weight: 700);
  text-transform: uppercase;
  @include media-desktop-1900 {
    font-size: 8rem;
    line-height: 11rem;
  }
  @include media-desktop-1440 {
    font-size: 5rem;
    line-height: 6rem;
    width: 530px;
    margin-top: 300px;
  }

  @include media-desktop-1200 {
    margin-top: 200px;
  }
}

.promo__cards {
  max-width: 1120px;
  @include media-desktop-1900 {
    max-width: 850px;
  }
  @include media-desktop-1440 {
    max-width: 700px;
  }
  @include media-desktop-1200 {
    max-width: 580px;
  }

  .promo__card {
    .card {
      background: $color-bg-promo-card;
      .card-text {
        @include font-additionary($size: 2rem);
        line-height: 2.5rem;
        @include media-desktop-1900 {
          font-size: 1.4rem;
          line-height: 2rem;
        }
        @include media-desktop-1440 {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
        @include media-desktop-1200 {
          font-size: 1rem;
          line-height: 1.6rem;
        }
      }
  
      .fa-check-circle {
        font-size: 3rem;
        color: $color-icon-promo;
        @include media-desktop-1200 {
          font-size: 2rem;
        }
      }
    }
  }
}

.promo__order-btn {
  margin-top: 70px;
}