.promo-swiper {
  position: relative;
  left: -140px;
  background-image: url('../assets/png/bg-team-swiper.png');
  background-repeat: no-repeat;
  background-position: center 50px;
  height: 705px;
  width: 650px;

  @include media-desktop-1900 {
    width: 600px;
  }
}

.promo-swiper__content {
  position: relative;
  text-align: center;

  .promo-swiper__img {
    width: 470px;
    height: 705px;
  }

  .promo-swiper__info {
    position: absolute;
    bottom: 90px;
    font-size: 2rem;

    .promo-swiper__name {
      color: $color-text-additionary;
      margin-bottom: 0;
      text-align: left;
    }

    .promo-swiper__position {
      color: $color-text-light;
      text-align: left;
    }
  }
}