.section-title-container {
  &_border-left {
    border-left: 5px solid $color-text-section-title-colored;
    padding-left: 38px;
    @include media-desktop-900 {
      padding-left: 5px;
    }
  }
}

.section-title {
  @include font-primary($size: 7rem, $weight: 700);
  text-transform: uppercase;

  &_colored {
    color: $color-text-section-title-colored;
  }

  @include media-desktop-1900 {
    font-size: 6rem;
  }
  @include media-desktop-1200 {
    font-size: 5rem;
  }
  @include media-desktop-900 {
    font-size: 3.2rem;
  }
}

.section-title-comment {
  @include font-primary($size: 5.4rem);
  line-height: 7rem;

  @include media-desktop-1900 {
    font-size: 5rem;
    line-height: 6rem;
  }
  @include media-desktop-1200 {
    font-size: 4rem;
    line-height: 5rem;
  }
  @include media-desktop-900 {
    font-size: 3rem;
    line-height: 3rem;
  }

  &_bold {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 6rem;
    margin-top: 38px;
    @include media-desktop-1200 {
      line-height: 5rem;
    }
    @include media-desktop-900 {
      font-size: 3.2rem;
      margin-top: -9px;
      line-height: 4rem;
    }
  }
}