.swiper-our-cases {
  position: relative;
  width: 1840px;
  margin-left: 25px;
  left: -25px;
  @include media-desktop-1900 {
    width: 1400px;
  }
  @include media-desktop-1440 {
    width: 100%;
    left: -10px;
  }

  .swiper-our-cases__wrapper {
    gap: 25px;
    @include media-desktop-900 {
      gap: 0;
    }
  }

  .swiper-button-next {
    @include media-desktop-900 {
      right: 0px;
    }
  }
}