.swiper-our-cases {
  position: relative;
  width: 1840px;
  margin-left: 25px;
  left: -25px;
  @include media-desktop-1900 {
    width: 1400px;
  }

  .swiper-our-cases__wrapper {
    gap: 25px;
  }
}