.team-card {
  position: relative;
  background-image: url('../assets/png/bg-team-swiper.png');
  background-repeat: no-repeat;
  background-position: 360px 25px;
  height: 600px;
  margin: auto;
  @include media-desktop-1900 {
    height: 500px;
    background-position: 130px 0px;
    background-size: contain;
  }
  @include media-desktop-1440 {
    width: 450px;
    background-position: 0px 0px;
    margin-left: 90px;
  }
  @include media-desktop-1200 {
    width: 350px;
    height: 450px;
    margin-left: 20px;
  }
  @include media-desktop-900 {
    width: 255px;
    height: 340px;
    margin-left: 110px;
  }

  .team-card__content {
    position: relative;
    text-align: center;
    @include flex ($align: end, $justify: start);
    height: 100%;
  
    .team-card__img {
      width: auto;
      height: 600px;
      @include media-desktop-1900 {
        height: 500px;
      }
      @include media-desktop-1200 {
        height: 450px;
      }
      @include media-desktop-900 {
        height: 300px;
      }
    }
  
    .team-card__info {
      position: absolute;
      bottom: 90px;
      font-size: 2rem;
      @include media-desktop-900 {
        font-size: 1.2rem;
        bottom: 16px;
        left: -45px;
      }
  
      .team-card__name {
        color: $color-text-additionary;
        margin-bottom: 0;
        text-align: left;
      }
  
      .team-card__position {
        color: $color-text-light;
        text-align: left;
      }
    }
  }
}
