$color-bg-header: #4D3F75;
$color-contacts-ico: #F6A21E;
$color-light: #ffffff;
$color-nav-border-1: #4d3f75;
$color-nav-border-2: #ebc82e;
$color-bg-promo-card: #56295A;
$color-icon-promo: #F1CA2D;
$color-bg-oval-button: #F1CA2D;
$color-1-bg-sections: #340738;
$color-2-bg-sections: #583E7A;
$color-bg-empty-progres-bar: #EAEAEA;
$color-bg-fill-progres-bar: #F1CA2D;

$color-text-section-title-colored: #F3BC28;
$color-text-additionary: #F1CA2D;
$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-text-lang: #D2D2D2;
$color-header-separator: #D9D9D9;
$shadow-header-separator: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-button: 0px -40px 50px 0px rgba(0, 0, 0, 0.2) inset;
$shadow-invalid-form: 0px 0px 8px 5px rgba(255, 0, 0, 0.5) inset;
