$color-bg-header: #4D3F75;
$color-contacts-ico: #F6A21E;
$color-light: #ffffff;
$color-nav-border-1: #4d3f75;
$color-nav-border-2: #ebc82e;
$color-bg-promo-card: #56295A;
$color-icon-promo: #F1CA2D;
$color-bg-oval-button: #F1CA2D;
$color-1-bg-sections: #340738;
$color-2-bg-sections: #583E7A;
$color-3-bg-sections: #56295A;
$color-4-bg-sections: #5B1362;
$color-bg-empty-progres-bar: #EAEAEA;
$color-bg-fill-progres-bar: #F1CA2D;
$color-bg-buttons-our-cases: #F3F3F3;

$color-text-section-title-colored: #F3BC28;
$color-text-additionary: #F1CA2D;
$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-text-lang: #D2D2D2;
$color-text-placeholder: #646464;

$color-header-separator: #D9D9D9;
$shadow-header-separator: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-button: 0px -40px 50px 0px rgba(0, 0, 0, 0.2) inset;
$shadow-invalid-form: 0px 0px 8px 5px rgba(255, 0, 0, 0.5) inset;
$shadow-slider-button: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
$shadow-order-form: -5px 0px 6px 1px rgba(0, 0, 0, 0.25);
$shadow-toggle-lang: 0px -5px 13px -2px rgba(0, 0, 0, 0.2) inset;
$color-request-tab: #66BC4D;
$color-sales-tab: #0085C0;
$color-problem: #EE7263;
$color-result: #66BC4D;
$color-bg-avatar: #D9D9D9;

$desktop-width-1900: 1900px;
$desktop-width-1440: 1440px;
$desktop-width-1200: 1200px;
