.clients {
  height: 621px;
  @include media-desktop-900 {
    height: 265px;
  }
  @include media-mobile-576 {
    height: 213px;
  }

  .clients-wrapper {
    padding: 100px 0 0 0;
    height: 100%;
    @include media-desktop-1900 {
      padding: 80px 1% 0 1%;
    }
    @include media-desktop-900 {
      padding: 50px 1% 10px 1%;
    }
    @include media-mobile-576 {
      padding: 30px 2% 30px 2%;
    }

    .clients__title {
      text-align: center;
      margin: auto;
    }

    .clients__swiper {
      margin-top: 45px;
      max-width: 1170px;
      @include media-desktop-900 {
        margin-top: 15px;
      }
      @include media-mobile-576 {
        margin-top: 0;
      }

      .swiper-wrapper {
        align-items: center;
        row-gap: 30px;
        text-align: center;
      }
      
      .clients__swiper-btn {
        display: none;
        @include media-desktop-1440 {
          display: block;
        }
      }
    }
  }
}