.header {
  .header__top {
    position: absolute;
    top: 0;
    height: 140px;
    width: 100%;
    border-radius: 0 0 45px 45px;
    background: $color-bg-header;
    z-index: 3;
    @include media-tablet-768 {
      height: 80px;
    }
    @include media-mobile-576 {
      height: 57px;
      border-radius: 0 0 30px 30px;
    }

    .header__logo {
      @include media-tablet-700 {
        position: absolute;
        left: 13%;
        padding: 0;
      }
    }

    .header__separator {
      position: absolute;
      background: linear-gradient(to right, transparent 0%, $color-light 50%, transparent 100%);
      width: 80%;
      height: 1px;
      box-shadow: $shadow-header-separator;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      @include media-desktop-900 {
        display: none;
      }
    }
  }

  .header__promo {
    height: 870px;
    background: $color-1-bg-sections;
    @include media-desktop-1200 {
      height: 666px;
    }
    @include media-desktop-900 {
      height: 467px;
    }
    @include media-tablet-700 {
      height: auto;
      min-height: 790px;
      background: $color-5-bg-sections;
    }
    @include media-mobile-576 {
      min-height: 635px;
    }
  }
}