.order {
  background: $color-2-bg-sections;
  height: 705px;
  @include media-desktop-900 {
    height: 394px;
  }

  .order-wrapper {
    padding: 0;
    height: 100%;
    @include flex($align: stretch, $flow: row nowrap);
    gap: 70px;
    @include media-desktop-1900 {
      padding: 0 1%;
    }
    @include media-desktop-1200 {
      gap: 5px;
    }
  }
}

.order__title-wrapper {
  margin-top: 140px;
  @include media-desktop-1900 {
    margin-top: 100px;
  }
  @include media-desktop-900 {
    margin-top: 60px;
  }

  p {
    &:first-of-type {
      @include media-desktop-900 {
        font-size: 2.4rem;
      }
    }
  }
  h2 {
    @include media-desktop-900 {
      margin-bottom: 0;
    }
  }

  .section-title {
    font-size: 10rem;
    @include media-desktop-1900 {
      font-size: 7rem;
    }
    @include media-desktop-900 {
      font-size: 5rem;
    }
  }
  .section-title-comment {
    margin: 0;
  }

  .order__title-comment {
    margin-top: 40px;
    max-width: 620px;
    font-size: 3.6rem;
    color: $color-text-light;
    line-height: 4.7rem;
    @include media-desktop-900 {
      margin-top: 8px;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

.order__form-wrapper {
  flex-basis: 680px;
  padding: 130px 0 0 45px;
  box-shadow: $shadow-order-form;
  @include media-desktop-1900 {
    padding-top: 100px;
  }
  @include media-desktop-900 {
    padding: 70px 0 0 20px;
    flex-basis: 590px;
  }

  .order__form-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: $color-text-light;
    @include media-desktop-900 {
      font-size: 2rem;
    }
  }

  .order__form {
    margin: 10px 0 0 10px;
    @include media-desktop-900 {
      margin: 0 0 0 10px;
    }
  }
}