.our-advantages {
  background: $color-2-bg-sections;
  min-height: 780px;
  @include media-desktop-900 {
    min-height: 689px;
  }
  @include media-mobile-576 {
    
  }

  .our-advantages-wrapper {
    padding: 100px 0 50px 0;
    height: 100%;
    @include media-desktop-1900 {
      padding: 80px 1% 50px 1%;
    }
    @include media-desktop-900 {
      padding: 50px 1% 10px 1%;
    }
    @include media-mobile-576 {
      padding: 30px 2% 30px 2%;
    }

    .our-advantages__tabs {
      margin-top: 66px;
      @include media-desktop-900 {
        margin-top: 20px;
      }
    }
  }
}