.our-advantages {
  background: $color-2-bg-sections;
  min-height: 780px;

  .our-advantages-wrapper {
    padding: 100px 0 50px 0;
    height: 100%;
    @include media-desktop-1900 {
      padding: 80px 1% 50px 1%;
    }

    .our-advantages__tabs {
      margin-top: 66px;
    }
  }
}