.price {
  min-height: 1707px;
  background: $color-2-bg-sections;

  .price__wrapper {
    padding: 100px 0 0 0;
    @include media-desktop-1900 {
      padding: 80px 1% 0 1%;
    }

    .price__title {
      max-width: 645px;
    }

    .price__card {
      margin-top: 70px;

      .price__card-wrapper {
        padding-bottom: 100px;
        @include flex($justify: center, $align: stretch);
        gap: 29px;
      }
    }
  }
}